/* Universal Selector */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color: #546e7a;
    color: #ffffff;
}

/* Header */
header{
    background: rgb(206, 199, 190);
    color: rgb(52, 90, 160);
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
display: flex;
}

.brand-logo{
    display: inline-block;
    font-size: 48px;
}

header .brand-logo{
    margin-left: 10px;
}

/* Profile Picture */
.profilepicture {
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* About Me & Contact Me Content */
.about-me {
    justify-content: center;
    padding: 50px;
    height: 200px;
    background: rgb(206, 199, 190);
    color: cornflowerblue;
    position: relative;
    margin-bottom: 20px;
}

.about-me h2 {
    font-size: 36px;
    text-align: center;
    color: rgb(52, 90, 160);
    position: relative;
    margin-top: 5px;
}

#contact-me ul{
    display: block;
    text-align: center;
    list-style-type: none;
}

/* Work */
.work-content {
    margin-bottom: 10%;
    text-align: center;
}

.portfolio{
    flex: 4;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.work-content:first-child {
    align-self: center;
}

.work-content h2 {
    font-size: 36px;
    text-align: center;
    color: rgb(52, 90, 160);
    display: block;
}

.card-panel {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
}

.card-panel img{
border: 1px solid#ddd;
border-radius: 4px;
padding: 5px;
width: 250px;
height: 250px;
}

.card-panel header {
    text-align: center;
    font-weight: bold;
}

.card-panel:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.page-footer{
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
    justify-content: center;
}

/* Media Query */
@media screen and (max-width: 600px) {
    .work-cards {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .work-cards {
        width: 50%;
    }
}